{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>
    .text-on-line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 20px 0 30px; 
} 

/* for the heading line with text on it for category */
.text-on-line span { 
    background:#fff; 
    padding:0 10px; 
}



/*  hovering effects */
.menu_item_hover .btn_order{
    visibility: hidden;
}


.menu_item_hover:hover{
    border-radius: 6px;
    /* border: 1px solid green; */
    box-shadow: 0px 8px 12px 5px rgba(171,160,160,0.48);
    -webkit-box-shadow: 0px 8px 12px 5px rgba(171,160,160,0.48);
    -moz-box-shadow: 0px 8px 12px 5px rgba(171,160,160,0.48);
}
.menu_item_hover:hover .btn_order{
    visibility: visible;
    box-shadow: 0px 5px 5px 2px rgba(11, 129, 11, 0.48);
    -webkit-box-shadow: 0px 5px 5px 2px rgba(11, 129, 11, 0.48);
    -moz-box-shadow: 0px 5px 5px 2px rgba(11, 129, 11, 0.48);
} 



/* for fab btn */
.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
  z-index: 9;
}
.btn-group-fab .btn-sub {
  bottom: 0; z-index: 8;
  right: 50%;
  margin-right: -20px;
  -webkit-transition: all 2s;
  transition: all 0.5s;
}
.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}

</style>

{% endblock css %}


{% block content %}

{% include 'website/navbar.html' %}

<div class="container mt-4">
    <div class="row">
      <p>this is cart view</p>
    </div>
</div>

{% endblock content %}


{% block js %}


{% endblock js %}