{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>
  
  .md-stepper-horizontal {
    display:table;
    width:100%;
    margin:0 auto;
    /* background-color:#FFFFFF; */
    /* box-shadow: 0 3px 8px -6px rgba(0,0,0,.50); */
  }
  .md-stepper-horizontal .md-step {
    display:table-cell;
    position:relative;
    /* this is padding of each stepp */
    /* padding:24px; */
  }
  .md-stepper-horizontal .md-step:hover,
  .md-stepper-horizontal .md-step:active {
    /* uncoment this if you want hover eeffect*/
    /* background-color:rgba(0,0,0,0.04); */
  }
  .md-stepper-horizontal .md-step:active {
    border-radius: 15% / 75%;
  }
  .md-stepper-horizontal .md-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .md-stepper-horizontal .md-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .md-stepper-horizontal .md-step:hover .md-step-circle {
    background-color:#757575;
  }
  .md-stepper-horizontal .md-step:first-child .md-step-bar-left,
  .md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display:none;
  }
  .md-stepper-horizontal .md-step .md-step-circle {
    width:30px;
    height:30px;
    margin:0 auto;
    background-color:#999999;
    border-radius: 50%;
    text-align: center;
    line-height:30px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
  }
  .md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color:#198754;
  }
  .md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color:#F96302;
  }
  .md-stepper-horizontal .md-step.active .md-step-circle {
    background-color: rgb(33,150,243);
  }
  .md-stepper-horizontal .md-step.done .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f00c";
  }
  .md-stepper-horizontal .md-step.done .md-step-circle *,
  .md-stepper-horizontal .md-step.editable .md-step-circle * {
    display:none;
  }
  .md-stepper-horizontal .md-step.editable .md-step-circle {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .md-stepper-horizontal .md-step.editable .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f040";
  }
  .md-stepper-horizontal .md-step .md-step-title {
    /* this is for the title of each step to be cloes to the circle */
    margin-top:5px;
    font-size:16px;
    font-weight:600;
  }
  .md-stepper-horizontal .md-step .md-step-title,
  .md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color:rgba(0,0,0,.26);
  }
  .md-stepper-horizontal .md-step.active .md-step-title {
    font-weight: 600;
    color:rgba(0,0,0,.87);
  }
  .md-stepper-horizontal .md-step.active.done .md-step-title,
  .md-stepper-horizontal .md-step.active.editable .md-step-title {
    font-weight:600;
  }
  .md-stepper-horizontal .md-step .md-step-optional {
    font-size:12px;
  }
  .md-stepper-horizontal .md-step.active .md-step-optional {
    color:rgba(0,0,0,.54);
  }
  .md-stepper-horizontal .md-step .md-step-bar-left,
  .md-stepper-horizontal .md-step .md-step-bar-right {
    position:absolute;
    /* this is the space of the line */
    top:15px;
    height:1px;
    border-top:1px solid #DDDDDD;
  }
  .md-stepper-horizontal .md-step .md-step-bar-right {
    right:0;
    left:50%;
    margin-left:20px;
  }
  .md-stepper-horizontal .md-step .md-step-bar-left {
    left:0;
    right:50%;
    margin-right:20px;
  }

  .table td , th {
   text-align: center;   
}


.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.counter input {
    width: 50px;
    border: 0;
    display: block;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    background: #F96302;
    color: #fff;
    appearance: none;
    outline: 0;
    border-radius: 0px;
}
.counter .down {
    display: block;
    display: block;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    color: #F96302;
    user-select: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px ;
    border: 2px solid #F96302;
}

.counter .up {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;
    color: #F96302;
    user-select: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px ;
    border: 2px solid #F96302;
}


</style>
{% endblock css %}


{% block content %}

{% include 'website/navbar.html' %}

<div class="container mt-4">
    <div class="row">
      <div class="card pt-2">
        <div class="md-stepper-horizontal green">
          <div class="md-step active done">
            <div class="md-step-circle"><span>1</span></div>
            <div class="md-step-title">your order</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          
          <div class="md-step">
            <div class="md-step-circle"><span>2</span></div>
            <div class="md-step-title">payment</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step">
            <div class="md-step-circle"><span>3</span></div>
            <div class="md-step-title">confirm</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="card">
        <div class="table-responsive">
          <!-- <p class="fw-bold">your order details</p> -->
          <table class="table table-striped">
            <caption style="text-align: end; padding-right: 5%;" class="" style="color: #F96302;">Total: 200 AED</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
              </tr>
            </thead>
            <tbody id="order-table-body"> 
            </tbody>
          </table>
        </div> 

        <div id="empty-card" class=" row mb-3 pt-3">
          <div class="col-sm-12 col-md-6 text-center">
            <span class="iconify" data-icon="mdi-light:cart" style="color: #f96302;" data-width="150" data-height="150"></span>
          </div>
          <div class="col-sm-12 col-md-6 text-center pt-3">
            <p>Your cart is empty.</p>
            <a class="btn btn-outline-success rounded-pill mx-auto px-5 py-3" href="{% url 'website:menu' %}">Goto Menu</a>
          </div>
        </div> 
        <!-- end of table -->

        <div class="row" style="background-color: seashell;">
          <div class="col-sm-12 col-md-6">
            <div id="map" style="height:400px; width:auto"></div>
          </div>
          <div class="col-sm-12 col-md-6 pt-3 mb-3">
            <form>
              <div class="form-row">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="number">Number</label>
                    <input type="tel" class="form-control" id="number" placeholder="phone number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <!-- <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div> -->
              <div class="form-group">
                <!-- <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div> -->
              </div>
              <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
            </form>
          </div>
        </div>
        <div class="row pt-4" style="background-color: palegoldenrod;">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Optional</label>
              <textarea class="form-control" placeholder="add any note to your order here ..." rows="3"></textarea>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mb-3 mt-3 ">
            <p class="">total payment: <span class="total-payment"></span> AED</p>
            <hr>
            <p>total payable: <span class="total-payable"> </span> AED</p>
            <button class="btn btn-outline-success rounded-pill d-block mx-auto px-5 py-3">Confirm and Preceed</button>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock content %}


{% block js %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css"> -->

<script>
  // call the load 
load_order()

function load_order(){
  // load the orders into table
  $(document).ready(function(){
    // check if their is an order key in localstorage
    if(localStorage.getItem("order")){
      $("#empty-card").hide();
      // split the orders string to array by ;
      let order_arr = localStorage.getItem("order").split(";");
      var total_of_total = 0;
      $("#order-table-body").text("");
      for(let x in order_arr){
        let ord = JSON.parse(order_arr[x]);
        var html = `
        <tr>
          <th class="align-middle" scope="row">
            <span class="iconify delete_order" onClick='delete_order(event, ${ord.id})' data-id=${ord.id} data-icon="mdi-light:delete" style="color: #f96302;" data-width="30" data-height="30"></span>
          </th>
          <td class="align-middle td-name">${ord.name}</td>
          <td class="align-middle td-price">${ord.price}</td>
          <td class="align-middle td-quantity">
            <div class="counter td-counter">
              <span class="down" onClick='decreaseCount(event, this)'>-</span>
              <input type="text" data-id="${ord.id}" value="${ord.quantity}">
              <span class="up"  onClick='increaseCount(event, this)'>+</span>
            </div>
          </td>
          <td class="align-middle td-total-price">${parseFloat(ord.quantity) * parseFloat(ord.price) } AED</td>
        </tr>
        `;
        
        $("#order-table-body").append(html);
        total_of_total +=parseFloat(ord.quantity) * parseFloat(ord.price);

      }
      
      $("table caption").text("Total: " + total_of_total + " AED" );
      // 
      totals(total_of_total);
      
    }else{
      $('.table-responsive').hide();
      $("#empty-card").show();
    }

  });
}


function totals(total_of_total){
  $('.total-payable').text(total_of_total);
  $('.total-payment').text(total_of_total);
}



mapboxgl.accessToken = 'pk.eyJ1IjoiemFtYW5laHNhbmkiLCJhIjoiY2tzMngweHBoMDR6bDJwbGxwemdtcWdlYyJ9.In0ho8b2jje9pF86SKSUVA';
 
const map = new mapboxgl.Map({
      container: 'map', // container ID
      // style: 'mapbox://styles/mapbox/satellite-v9', 
      style:"mapbox://styles/mapbox/streets-v11",
      center: [55.2023781,25.1564378], // starting position [lng, lat]
      zoom: 12 
    });
 

  // Add geolocate control to the map.
  map.addControl(
    new mapboxgl.GeolocateControl({
      positionOptions: {
      enableHighAccuracy: true
      },
      // When active the map will receive updates to the device's location as it changes.
      trackUserLocation: true,
      // Draw an arrow next to the location dot to indicate which direction the device is heading.
      showUserHeading: true
    })
  );


// adding the areas to the map
$(document).ready(function(){
  $.ajax({
    url:"../api/areas",
    type:'GET',
    success:function(data){
      for(var i in data){
        var gjson = JSON.parse(data[i].geojson);
        map.addSource(data[i].id+"", {
          'type': 'geojson',
          'data': gjson
          });
          
          // Add a layer showing the state polygons.
          map.addLayer({
          'id': data[i].id+"",
          'type': 'fill',
          'source': data[i].id+"",
          'paint': {
          'fill-color': 'rgba(200, 100, 240, 0.4)',
          'fill-outline-color': 'rgba(200, 100, 240, 1)'
          }
          });
          // end of adding areas
      } //end of for loop
    } //end of success
  }) //end of ajax
});


function increaseCount(a, b) {
  var input = b.previousElementSibling;
  var value = parseInt(input.value, 10); 
  value = isNaN(value)? 0 : value;
  value ++;
  var id_of_order = input.getAttribute('data-id');
  update_order_quantity(id_of_order, value);
  input.value = value;
  load_order();
}

function decreaseCount(a, b) {
  var input = b.nextElementSibling;
  var value = parseInt(input.value, 10); 
  if (value > 1) {
    value = isNaN(value)? 0 : value;
    value --;
    var id_of_order = input.getAttribute('data-id');
    update_order_quantity(id_of_order, value);
    input.value = value;
    load_order();
  }
}

function delete_order(event, id){
  if (localStorage.getItem("order")){
    var orders = localStorage.getItem("order");
    if(orders.search(";") == -1){
      var obj_order = JSON.parse(orders);
      if( obj_order.id == id){
        // ids are matched, remove order
        localStorage.removeItem("order");
        // reload the orders
        load_order();
      }
    }else{
    // more then one order
      var obj_order_arr = orders.split(";");
      var new_order ='';
      for(var i in obj_order_arr){
        // check the orders
        var one = JSON.parse(obj_order_arr[i]);
        if(one.id == id){
          continue;
        }else{
            obh += ";"+JSON.stringify(one);
        }
      }
      new_order = new_order.substring(1)
      localStorage.removeItem("order");
      localStorage.setItem("order", new_order);
      load_order();
    }
  }
  
}

function update_order_quantity(order_id, quantity){
  if(localStorage.getItem("order")){
    var orders = localStorage.getItem("order");
    if(orders.search(";") == -1){
      // not ; that means one order
      var obj_one = JSON.parse(orders);
      // now cheeck the ids
      if(obj_one.id == order_id){
        obj_one.quantity = quantity;
        Update_order(orders, 0, obj_one, true);
        return ;
      }
    }else{
      // found a ; that means two order or more
      var obj_arr = orders.split(";");
      for(var i in obj_arr){
        // check the orders
        var one = JSON.parse(obj_arr[i]);
        if(one.id == order_id){
          one.quantity  = quantity;
          Update_order(obj_arr, i, one);
          return
        }
      }
    }
  }
}

function Update_order(obj_all, index, update, one_item=false){
  var on='';
  var size  = Object.keys(obj_all).length;
    for(var i in obj_all){
      if(i == index){
        if(i ==0){
          on +=JSON.stringify(update);
          if(one_item == true){
            break;
          }
        }else{
          on +=";"+JSON.stringify(update);
        }
      }else{
        if(i ==0){
          on += obj_all[i];
          if(one_item == true){
            break;
          }
        }else{
          on += ";"+obj_all[i];
        }
      }
    }
  localStorage.removeItem("order");
  localStorage.setItem("order", on);
}


</script>


{% endblock js %}


// get the geojson data from db
// map.on('load', () => {
//   map.addSource('route', {
//     'type': 'geojson',
//     'data': {
//       'type': 'Feature',
//       'properties': {},
//         'geometry': {
//           'type': 'LineString',
//           'coordinates': [[-122.487516, 37.831683], [-122.488031, 37.832158],
//                           [-122.488889, 37.832971], [-122.489876, 37.832632],
//                           [-122.490434, 37.832937], [-122.49125, 37.832429],
//                           [-122.491636, 37.832564], [-122.492237, 37.833378],
//                           [-122.493782, 37.833683]]
//         }
//     }
//   });
//   map.addLayer({
//     'id': 'route',
//     'type': 'line',
//     'source': 'route',
//     'layout': {
//       'line-join': 'round',
//       'line-cap': 'round'
//     },
//     'paint': {
//     'line-color': '#888',
//     'line-width': 8
//     }
//   });
// });
