{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<!-- <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css"> -->
<style>
  
.table td , th {
 text-align: center;   
}


.counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.counter input {
  width: 50px;
  border: 0;
  display: block;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  background: #F96302;
  color: #fff;
  appearance: none;
  outline: 0;
  border-radius: 0px;
}
.counter .down {
  display: block;
  display: block;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
  color: #F96302;
  user-select: none;
 
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px ;
  border: 2px solid #F96302;
  border-right: none;
}

.counter .up {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  line-height: 30px;
  cursor: pointer;
  color: #F96302;
  user-select: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px ;
  border: 2px solid #F96302;
  border-left: none;
}


/* for stepper */
#regForm {
  /* background-color: #ffffff; */
  /* margin: 10px auto; */
  /* font-family: Raleway; */
  /* padding: 40px; */
  /* width: 70%; */
  /* min-width: 300px; */
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 2px solid #c5bcbc;
  border-radius: 5px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  border-color: #F96302;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.btn-orange {
  background-color: #F96302;
  /* border-radius: 10px; */
  color: #fff;
  border: none;
  /* padding: 10px 20px; */
  /* font-size: 17px; */
  cursor: pointer;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  /* background-color: #bbbbbb; */
  border: 2px solid #ffdddd;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
  text-align: center;
  padding-top: 6px;
}

.step.active {
  opacity: 1;
  border: 2px solid #ffdddd;  
  background-color: #c5aaaa;
  color: white;
  font-weight: bolder;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #F96302;
  border-radius: 2px solid #F96302;
  color: #fff;
  font-weight: bolder;
}

.payment-check{
  /* height: 30px; */
  height: auto;
  /* width: fit-content; */
  border-radius: 10px;
  border:2px solid #F96302;
  color: #F96302;
  padding: 10px;
}
.payment-check input:checked{
  background-color: #F96302;
  border-color: #F96302;
}
.payment-check input{
  border-color: #F96302;
}
.payment-check input:focus{
  border-color: #F96302;
  outline: 0;
  box-shadow: none;
}

.card{
  border-color: #F96302;
  background-color:antiquewhite;
  color: #F96302;
}
.card .card-header, .card-footer{
  border-color: #f96302;
  background-color: bisque;
}
.info-summary p,h5 , .text-orange{
  color: #F96302;
}

</style>

{% endblock css %}


{% block content %}

{% include 'website/navbar.html' %}

<div class="container-fluid" style="background-color: seashell;">

  <div class="row  pt-4 ">
    <form id="regForm" onsubmit="preventSubmit(event)">
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;">
        <span class="step">1</span>
        <span class="step">2</span>
        <span class="step">3</span>
      </div>
      <!-- <h1>Register:</h1> -->
      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <div class="row mt-3">
          <div >
            <div class="table-responsive container">
              <!-- <p class="fw-bold">your order details</p> -->
              <table class="table table-striped">
                <caption style="text-align: end; padding-right: 5%;" class="" style="color: #F96302;">Total: 200 AED</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total price</th>
                  </tr>
                </thead>
                <tbody id="order-table-body"> 
                </tbody>
              </table>
            </div> 
            <div id="empty-card" class=" mb-3 pt-3">
              <div class="row">
              <div class="col-sm-12 col-md-6 text-center mx-auto mb-1">
                <span class="iconify" data-icon="mdi-light:cart" style="color: #f96302;" data-width="150" data-height="150"></span>
                <p>Your cart is empty.</p>
                <a class="btn btn-outline-success rounded-pill mx-auto px-5 py-3" href="{% url 'website:menu' %}">Goto Menu</a>
              </div>
              
              </div>
            </div> 

            <!-- end of table -->
    
            <div class=" container" >
              <div class="row">
                <div class="col-sm-12 ">
                  <div id="map" style="height:400px; width:auto"></div>
                </div>
              </div>
              <div class="row">
                <form id="regForm1">
                  
                  <div class="col-sm-12 col-md-6 pt-3 mb-3">
                    <div class="form-row">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="name">Name</label>
                          <input type="text" name="name" class="form-control" id="name" placeholder="name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="number">Number</label>
                          <input type="tel" name="number" class="form-control" id="number" placeholder="phone number">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                  </div>
                </form>
                <div class="col-sm-12 col-md-6 mb-3 mt-3 pt-3 pl-2" style="background-color: palegoldenrod; border-radius: 8px;">
                  <p class="my-0 text-orange">Total Order: <span class="total-payment"></span> AED</p>
                  <p class="my-0 text-orange">Delivery Charge: <span class="delivery-charge"></span> </p>
                  <hr class="my-0 ">
                  <input type="hidden" name="delivery_charge" id="" value="">
                  <p class="text-orange">TOTAL BILL: <span class="total-payable"> </span> AED</p>
                </div>
              </div>
            </div>
            <!-- <div class="row pt-4" style="background-color: palegoldenrod;">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Optional</label>
                  <textarea class="form-control" placeholder="add any note to your order here ..." rows="3"></textarea>
                </div>
              </div>
            </div> -->
          </div>
        </div>

      </div>
      <div class="tab">
          <div class="container">
            <div class="row mt-5 text-center">
              <h3 class="mx-auto">PAYEMENT METHOD</h3>
              <div class="col-sm-12 col-md-3"> </div>
              <div class="col-sm-12 col-md-6">
                <div class="row mt-4 mb-4 ">
                  <div class="col-sm-12 col-md-4 justify-content-sm-center">
                    <div class="payment-check  mb-4">
                      <input type="radio" checked name="payment" value="payment_cash" class="form-check-input" id="cash">
                      <label class="form-check-label" style="margin: auto 10px;" for="cash">Cash ON Delivery</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 justify-content-sm-center">
                    <div class="payment-check mb-4 ">
                      <input type="radio" name="payment" value="payment_pos"  class="form-check-input" id="POS">
                      <label class="form-check-label" style="margin: auto 10px;" for="POS">Card ON Delivery</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 justify-content-sm-center">
                    <div class="payment-check mb-4">
                      <input type="radio" name="payment" value="payment_online" class="form-check-input" id="online">
                      <label class="form-check-label" style="margin: auto 10px;" for="online">	&nbsp; Pay Online Now 	&nbsp;</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-3"> </div>
            </div>
            
          </div>
    
      </div>
      <div class="tab">
        <div class="container pt-4">
          <div class="row my-3">
            <div class="col-sm-12 col-md-6">
             <div class="card mx-4">
               <div class="card-header">
                 <h5>YOUR ORDER SUMMARY</h5>
               </div>
               <div class="card-body order-summary">
         
               </div>
               <div class="card-footer">
                 <h5>TOTAL <span style="float: right;" class="total-summary"></span></h5>
               </div>
             </div>
            </div>
            <div class="col-sm-12 col-md-6 px-5 py-3">
              <h5>Your Address and Information</h5>
              <div class="info-summary">
                
              </div>
           </div>
          </div>
        </div>
      </div>
     
      <div class="my-3" >
        <div class="justify-content-center d-flex">
          <button type="button" class="btn btn-outline-secondary rounded-pill px-4 py-2 mx-2" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
          <button type="submit" class="btn btn-orange rounded-pill px-5 py-2" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </div>
    </form>
  </div>
    
</div>
  
    

</div>

{% endblock content %}


{% block js %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>



<script>
  // call the load 
load_order()

function load_order(){
  // load the orders into table
  $(document).ready(function(){
    // check if their is an order key in localstorage
    if(localStorage.getItem("order")){
      $("#empty-card").hide();
      // split the orders string to array by ;
      let order_arr = localStorage.getItem("order").split(";");
      var total_of_total = 0;
      $("#order-table-body").text("");
      for(let x in order_arr){
        let ord = JSON.parse(order_arr[x]);
        var html = `
        <tr>
          <th class="align-middle" scope="row">
            <span class="iconify delete_order" onClick='delete_order(event, ${ord.id})' data-id=${ord.id} data-icon="mdi-light:delete" style="color: #f96302; cursor: pointer;" data-width="30" data-height="30"></span>
          </th>
          <td class="align-middle td-name">${ord.name}</td>
          <td class="align-middle td-price">${ord.price}</td>
          <td class="align-middle td-quantity">
            <div class="counter td-counter">
              <span class="down" onClick='decreaseCount(event, this)'>-</span>
              <input type="text" style="padding:2px" data-id="${ord.id}" value="${ord.quantity}">
              <span class="up"  onClick='increaseCount(event, this)'>+</span>
            </div>
          </td>
          <td class="align-middle td-total-price">${parseFloat(ord.quantity) * parseFloat(ord.price) } AED</td>
        </tr>
        `;
        
        $("#order-table-body").append(html);
        total_of_total +=parseFloat(ord.quantity) * parseFloat(ord.price);

      }
      
      $("table caption").text("Total: " + total_of_total + " AED" );
      // 
      totals(total_of_total);
      
    }else{
      $('.table-responsive').hide();
      $("#empty-card").show();
    }

  });
}


function totals(total_of_total){
  $('.total-payable').text(total_of_total);
  $('.total-payment').text(total_of_total);
}



mapboxgl.accessToken = 'pk.eyJ1IjoiemFtYW5laHNhbmkiLCJhIjoiY2tzMngweHBoMDR6bDJwbGxwemdtcWdlYyJ9.In0ho8b2jje9pF86SKSUVA';
 
const map = new mapboxgl.Map({
      container: 'map', // container ID
      // style: 'mapbox://styles/mapbox/satellite-v9', 
      style:"mapbox://styles/mapbox/streets-v11",
      center: [55.2023781,25.1564378], // starting position [lng, lat]
      zoom: 12 
    });


    map.addControl(new mapboxgl.FullscreenControl());

  // Add geolocate control to the map.
var geolocate = new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
      },
      // When active the map will receive updates to the device's location as it changes.
      trackUserLocation: true,
      // Draw an arrow next to the location dot to indicate which direction the device is heading.
      showUserHeading: true
  });
map.addControl(geolocate);



// get the location data
const user_position = '';
geolocate.on('geolocate', function(e) {
      var lon = e.coords.longitude;
      var lat = e.coords.latitude
      var position = [lon, lat];
      user_position = position;
      // calculate which area the user is
      user_location_calculation(position);
      
});

// this is for not leaving black the delivery charge.
$('[name="delivery_charge"]').val(15);

function user_location_calculation(position){
  $.ajax({
    url:"../api/areas",
    type:'GET',
    success:function(data){
      for(var i in data){
        var gjson = JSON.parse(data[i].geojson);
        // which area user is located
        
        var bool = turf.booleanPointInPolygon(turf.point(position), gjson.features[0]);
        if (bool === true){
            var html =`name: ${data[i].name}, min order: ${data[i].min_order}, delivery cahrge:${data[i].charge}`;
            $('.delivery-charge').text(html + " AED");
            $('[name="delivery_charge"]').val(data[i].charge);
            // alert("area is: " + data[i].name + " charge is: " + data[i].charge);
            // check this after the hosting. 
            return ;
        }
      
      } //end of for loop
      $('.delivery-charge').text("not in any areas. your order may not be accepted.");
      $('.delivery-charge').css({ 'color': 'red' })
    } //end of success

  }); //end of ajax
}


// adding the areas to the map
$(document).ready(function(){
  $.ajax({
    url:"../api/areas",
    type:'GET',
    success:function(data){
      for(var i in data){
        var gjson = JSON.parse(data[i].geojson);
        map.addSource(data[i].id+"", {
          'type': 'geojson',
          'data': gjson
          });
          
          // Add a layer showing the state polygons.
          map.addLayer({
          'id': data[i].id+"",
          'type': 'fill',
          'source': data[i].id+"",
          'paint': {
          'fill-color': 'rgba(200, 100, 240, 0.4)',
          'fill-outline-color': 'rgba(200, 100, 240, 1)'
          }
          });
          // end of adding areas
      } //end of for loop
    } //end of success
  }) //end of ajax
});


function increaseCount(a, b) {
  var input = b.previousElementSibling;
  var value = parseInt(input.value, 10); 
  value = isNaN(value)? 0 : value;
  value ++;
  var id_of_order = input.getAttribute('data-id');
  update_order_quantity(id_of_order, value);
  input.value = value;
  load_order();
}

function decreaseCount(a, b) {
  var input = b.nextElementSibling;
  var value = parseInt(input.value, 10); 
  if (value > 1) {
    value = isNaN(value)? 0 : value;
    value --;
    var id_of_order = input.getAttribute('data-id');
    update_order_quantity(id_of_order, value);
    input.value = value;
    load_order();
  }
}

function delete_order(event, id){
  if (localStorage.getItem("order")){
    var orders = localStorage.getItem("order");
    if(orders.search(";") == -1){
      var obj_order = JSON.parse(orders);
      if( obj_order.id == id){
        // ids are matched, remove order
        localStorage.removeItem("order");
        // reload the orders
        load_order();
      }
    }else{
    // more then one order
      var obj_order_arr = orders.split(";");
      var new_order ='';
      for(var i in obj_order_arr){
        // check the orders
        var one = JSON.parse(obj_order_arr[i]);
        if(one.id == id){
          continue;
        }else{
            new_order += ";"+JSON.stringify(one);
        }
      }
      new_order = new_order.substring(1)
      localStorage.removeItem("order");
      localStorage.setItem("order", new_order);
      load_order();
    }
  }
  
}

function update_order_quantity(order_id, quantity){
  if(localStorage.getItem("order")){
    var orders = localStorage.getItem("order");
    if(orders.search(";") == -1){
      // not ; that means one order
      var obj_one = JSON.parse(orders);
      // now cheeck the ids
      if(obj_one.id == order_id){
        obj_one.quantity = quantity;
        Update_order(orders, 0, obj_one, true);
        return ;
      }
    }else{
      // found a ; that means two order or more
      var obj_arr = orders.split(";");
      for(var i in obj_arr){
        // check the orders
        var one = JSON.parse(obj_arr[i]);
        if(one.id == order_id){
          one.quantity  = quantity;
          Update_order(obj_arr, i, one);
          return
        }
      }
    }
  }
}

function Update_order(obj_all, index, update, one_item=false){
  var on='';
  var size  = Object.keys(obj_all).length;
    for(var i in obj_all){
      if(i == index){
        if(i ==0){
          on +=JSON.stringify(update);
          if(one_item == true){
            break;
          }
        }else{
          on +=";"+JSON.stringify(update);
        }
      }else{
        if(i ==0){
          on += obj_all[i];
          if(one_item == true){
            break;
          }
        }else{
          on += ";"+obj_all[i];
        }
      }
    }
  localStorage.removeItem("order");
  localStorage.setItem("order", on);
}


var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    
    $("#regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

var info =[];
function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    info.push(y[i].value);

    if (y[i].value == "") {
      
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}




$(document).ready(function(){
  if(localStorage.getItem("order")){
    var order = localStorage.getItem("order");
    if(order.search(";") == -1){
      // not ; that means one order
      var obj_one = JSON.parse(order);
      $('.order-summary').append(`<p>${obj_one.quantity} X ${obj_one.name}  <span style="float: right;">${obj_one.price}</span></p>`);
      $('.total-summary').append(obj_one.price + "AED");
    }else{
      // found a ; that means two order or more
      var obj_arr = order.split(";");
      var total =0;
      for(var i in obj_arr){
        var one = JSON.parse(obj_arr[i]);
        $('.order-summary').append(`<p>${one.quantity} X ${one.name}  <span style="float: right;">${one.price}</span></p>`);
        var t = one.price.split(" ");
      total += parseFloat(t[1]);

      }
      $('.total-summary').append(total + " AED");
    } //eend else 
  } // endif
  

});

$('#nextBtn').on('click', function(){
  $('.info-summary').html('');
  for(var i in info){  
    if(parseInt(info[i]) != 1){
      if(info[i] != 'on'){
        $('.info-summary').append(`<p class="m-0">${info[i]}</p>`);
      }
    }
  }
});


// submit the order form
function preventSubmit(event){
    event.preventDefault();
    data = {};
    data['name'] = $('[name="name"]').val();
    data['number'] = $('[name="number"]').val();
    data['address'] = $('[name="address"]').val();
    data['address2'] = $('[name="address2"]').val();
    data['note']    = $('[name="note"]').val();
    $("input[type=radio]")
      .each(function() {
        if($(this).is(":checked") && (typeof $(this).is(":checked")) !== 'undefined'){ 
          data['payment'] = $(this).val();
        }
      });

    data['order'] = localStorage.getItem('order');
 
    $.ajax({
      url: "{% url 'website:cart_view' %}",
      method: 'POST',
      data : data,
      success:function(response){
        alert(response );
      }
    })
  };


</script>


{% endblock js %}

