{% extends 'website/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}
{% block content %}
<div class="riv">
    <div class="red">
        
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1>CKICK HERE FOR DIRECT ORDER</h1> <br>
                <a href="https://wa.me/message/GYU3UVTPAADHM1" class="btn btn-outline-success">
                    <h3> order 
                        <span class="iconify" data-icon="logos:whatsapp" data-inline="false"></span>
                    </h3>    
                </a> <br> <br>

                <p class="stronge">Thank your for your patience</p> 
                <p>We are currently working on a bew version of our site to satisfy your pizza cravings.</p>
            </div>
            <div class="col oranged">
                <img class="image-ogo" src="{% static 'img/makhsoos-small.png' %}" height="300" alt="logo"> 
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block js %}

{% endblock js %}