{% extends 'website/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}
{% block content %}

<div class="small">
<div class="container">
    <div class="row " >
        <div class="col text-center pizza">
            <img class="image-small rotate"  src="{% static 'img/makhsoos.png' %}" alt="logo">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center ">
            <h2 class="">CLICK HERE FOR DIRECT ORDER.</h2> 
            <div>
                <br>
                <a href="https://wa.me/message/GYU3UVTPAADHM1"  class="btn btn-outline-success " style="border-radius: 50em;">
                    <h4 class="mt-1">ORDER HERE</h4> 
                </a>
                <a href="https://wa.me/message/GYU3UVTPAADHM1">
                    <img class="logo-whatsapp-small" src="{% static 'img/logo-whatsapp.png' %}" alt="">
                </a>
            </div>
            <br>
            <h4>Thank your for your patience.</h4> 
            <h4>We are currently working on a new version of our site to satisfy your pizza cravings. </h4>
            <h1></h1>
        </div>

    </div>
</div>
</div>

<div class="riv">
    <!-- this is the orange right side -->
    <div class="orange"> 
        <img class="image rotate" src="{% static 'img/makhsoos.png' %}" width="140px" alt="logo"> 
    </div>

    <div class="container top-space">
            <div class="col">
                <h1 class="pb-4">CLICK HERE FOR DIRECT ORDER</h1> 
                
                <div class="mx-auto pb-5" style="padding-left: 15%;">
                    <a href="https://wa.me/message/GYU3UVTPAADHM1"  class="btn btn-outline-success px-4" style="border-radius: 50em;">
                        <h2 class="mt-2">ORDER HERE</h2> 
                    </a>
                    <a href="https://wa.me/message/GYU3UVTPAADHM1">
                        <img class="logo-whatsapp" src="{% static 'img/logo-whatsapp.png' %}" alt="">
                    </a>
                </div>

                <h3 class="pb-4" style="padding-left: 5%;">Thank your for your patience.</h3> 
                <h3>We are currently working on a new version </h3>
                <h3>of our site to satisfy your pizza cravings.</h3>
            </div>
    </div>
</div>


{% endblock content %}


{% block js %}

{% endblock js %}