{% extends 'website/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}
{% block content %}
<div class="riv">
    <!-- this is the orange right side -->
    <div class="orange"> 
        <img class="image rotate" src="{% static 'img/makhsoos.png' %}" width="140px" alt="logo"> 
    </div>

    <div class="container">
            <div class="col">
                <h1 class="display-4">CLICK HERE FOR DIRECT ORDER</h1> 
                
                <br> <br><br> <br><br>

                <div class="mx-auto" style="padding-left: 15%;">
                    <a href="https://wa.me/message/GYU3UVTPAADHM1"  class="btn btn-outline-success px-4" style="border-radius: 50em;">
                        <h1 class="mt-2">ORDER HERE</h1> 
                    </a>
                    <a href="https://wa.me/message/GYU3UVTPAADHM1">
                        <img class="logo-whatsapp" src="{% static 'img/logo-whatsapp.png' %}" alt="">
                    </a>
                </div>

                 <br> <br><br> <br> <br>  <br>

                <h1 class="" style="padding-left: 5%;">Thank your for your patience.</h1>  <br> <br> <br>
                <h1>We are currently working on a bew version </h1>
                <h1>of our site to satisfy your pizza cravings.</h1>
            </div>
    </div>
</div>


{% endblock content %}


{% block js %}

{% endblock js %}