{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>


.shadow-me{
  box-shadow: 0px 16px 80px 20px rgba(0,0,0,1);
-webkit-box-shadow: 0px 16px 80px 20px rgba(0,0,0,1);
-moz-box-shadow: 0px 16px 80px 20px rgba(0,0,0,1);
}
.shadow-left {
  box-shadow: 25px 30px 80px 20px rgba(0,0,0,1);
-webkit-box-shadow: 25px 30px 80px 20px rgba(0,0,0,1);
-moz-box-shadow: 25px 30px 80px 20px rgba(0,0,0,1);
}

.shadow-right {
  box-shadow: -25px 30px 80px 20px rgba(0,0,0,1);
-webkit-box-shadow: 25px 30px 80px 20px rgba(0,0,0,1);
-moz-box-shadow: 25px 30px 80px 20px rgba(0,0,0,1);
}
/* 
   html, body {
    height: 100%;
    margin: 0;
    } */

    /* .box {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0 0;
    } */

    /* .box .header {
    flex: 0 1 auto;

    } */
/* 
    .box .content {
    height: 100%;
    }
    .box .footer {
    flex: 0 1 40px;
    } */

 
    /* for mobile */
  @media screen and (max-width: 900px) {
    .box{
      height: 30em;
      align-items: center;
    }
  
  }


  .box{
    background-color: #FF5400;
    display: flex;
    flex-direction: column;
  }

  .al{
   margin-top: auto;
  }

  .live{
    margin-top: auto;
    margin-bottom: 2%;
    margin-right: 2%;
    align-self: flex-end;
  }

  /* for big screen */
  @media screen and (min-width: 901px) {
    .store_icon{
      /* position: absolute; */
      bottom: 2em;
      left: 15em; 
    }

    .box{
      height: 46em;
     
    }
  } 

  .mybtn{
    background-color: #FF5400!important;
    color: white!important;
    border: none!important;
  }


.active{
  color: #FF5400!important;
}

</style>

{% endblock css %}
{% block content %}

<div class="box content ">   
    <a href="#" class="al text-decoration-none">
      <button class="mx-auto py-3 fw-bold btn btn-success px-5 fs-4 rounded-0 d-block mb-3">Order From Menu</button>
    </a>

    <button  class=" mx-auto py-3 fw-bold btn btn-secondary px-5 rounded-0 fs-4 d-block mb-3" style="border:none; color: white;">&nbsp Make Your Own &nbsp </button>
    <button  class=" mx-auto py-3 fw-bold btn btn-secondary px-5  fs-4 rounded-0 d-block mb-3"> &nbsp &nbsp Made By You &nbsp &nbsp</button>

    <a href="https://wa.me/message/GYU3UVTPAADHM1" class="live fw-bold fs-5 text-decoration-none text-white">
      Live Chat 24/7
    </a>
</div>

{% endblock content %}
{% block js %}

<script>
  $(document).ready(function(){
    $('.btn-secondary').click(function(){
      alert("cooming soon")
    })
  })


  $(".btn").click(function(){
    $(".btn").removeClass("mybtn");
    $(this).addClass("mybtn");
});

</script>

{% endblock js %}