{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>

.text-on-line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #F05A23; 
   line-height: 0.1em;
   margin: 20px 0 30px; 
} 

/* for the heading line with text on it for category */
.text-on-line span { 
    background:#fff; 
    padding:0 10px; 
    color: #F05A23;
}



/*  hovering effects */
.menu_item_hover .btn_order{
    visibility: hidden;
}


.menu_item_hover:hover{
    border-radius: 4px;
    /* border: 1px solid green; */
    box-shadow: 0px 8px 12px 5px rgba(171,160,160,0.48);
    -webkit-box-shadow: 0px 8px 12px 5px rgba(171,160,160,0.48);
    -moz-box-shadow: 0px 8px 12px 5px rgba(171,160,160,0.48);
}
.menu_item_hover:hover .btn_order{
    visibility: visible;
    color: #F05A23;
    background-color: wheat;
    border: 1px solid #F05A23;
    /* box-shadow:         0px 5px 5px 2px #F05A23;
    -webkit-box-shadow: 0px 5px 5px 2px #F05A23;
    -moz-box-shadow:    0px 5px 5px 2px #F05A23; */
} 

/* for fab btn */
.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
  z-index: 9;
}



</style>

{% endblock css %}


{% block content %}

{% include 'website/navbar.html' %}

<div class="container mt-4">
    <div class="row">
        {% for category in object_list|dictsortreversed:"name" %}
            <h2 class="text-on-line"><span>{{category|title}}</span></h2>
            {% for obj in category.menu_set.all %}
                <div class="col-sm-4 col-md-4 px-3 py-3">
                    <div class="menu_item_hover mb-3 pb-2">
                        <img class="mx-auto d-block" src="{{obj.photo.url}}" style="width: 70%;" alt="">
                        <h4 class="text-center">{{obj.name|title}}</h4>
                        <p class="text-center " style="padding: 0 40px;">{{obj.description|capfirst}}</p>
                        <p class="text-center price"><b> {{obj.price}} AED </b></p>
                        <p></p>
                        <button data-id="{{obj.pk}}" class="btn px-5 rounded-pill mx-auto d-block btn_order "> Add To Cart  
                          <!-- <span class="iconify" data-icon="mdi-light:cart" style="color: white;" data-width="30" data-height="30"></span>     -->
                                          
                        </button>
                        <p></p>
                    </div>
                   
                </div>
            {% endfor %}
        {% endfor %}

        <div class="btn-group-fab" role="group" aria-label="FAB Menu">
            <div>
                
              <a href="{% url 'website:cart_view' %}">
                  
                <button class="btn btn-main btn-success px-auto" title="Cart"> 
                   <span id="order_counter">0</span>
                  <!-- <span class="iconify" data-icon="mdi-light:cart" style="color: white;" data-width="30" data-height="35"></span> -->
                </button>
              </a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block js %}
<script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>

<script>

$(document).ready(function(){
    $('.btn_order').each(function(){
        $(this).click(function(){
            var obj_id = $(this).attr("data-id");
            var obj_name = $(this).parent('.menu_item_hover').children('h4').text();
            var obj_price = $(this).parent('.menu_item_hover').children('.price').children().text();
            var obj_order = {id:obj_id,name:obj_name, price:obj_price}
            Tolocal(obj_order);
        }); // end of click
    }); //end of each function
});



function Tolocal(obj){
// check if we localstorage has got order already. 
    if(localStorage.getItem("order")){
        // get orders from localstorage and append to it.
        var obj_local = localStorage.getItem("order");
        obj_local += ";"+JSON.stringify(obj);
        localStorage.setItem("order", obj_local);

        // update the counter of order on btn
        Order_counter();
    }else{
        // set new order to localstorage
    localStorage.setItem("order", JSON.stringify(obj));
    Order_counter();
    }
}

function Order_counter(){
    let order_counter = localStorage.getItem("order").split(";");
    $("#order_counter").text(order_counter.length)
}

// load the order counter on load
$(document).ready(function(){
    let order_counter = localStorage.getItem("order").split(";");
    $("#order_counter").text(order_counter.length)
});

</script>
{% endblock js %}