{% load static %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark  z-index-3" >
    <div class="container-fluid">
      <a class="navbar-brand d-block d-sm-block d-md-block d-lg-none" href="{% url 'website:landingpage' %}"> 
        <img src="{% static 'img/pizza_logo_new.png' %}" height="60" alt="">
        <!-- <h1 class="logo" style="color: #FF5400;">PIZZA.AE</h1> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5 orange-text {% if page_title == ' ' %} active {% endif %} header-font" aria-current="page" href="{% url 'website:landingpage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5  {% if page_title == 'menu' %} active {% endif %} header-font " href="{% url 'website:menu' %}">Menu</a>
          </li>
          </li>
          <li class="nav-item ">
            <a class="nav-link fs-5 fw-bold header-font" href="#" tabindex="-1" aria-disabled="true">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link fs-5 fw-bold header-font"  href="{% url 'website:auth_otp' %}" tabindex="-1" aria-disabled="true">Your Order</a>
          </li>
        </ul>
        <a class="navbar-brand me-auto d-sm-none d-none d-lg-block pb-0 pt-0" href="{% url 'website:landingpage' %}">
          <img src="{% static 'img/pizza_logo_new.png' %}" height="85" alt="">
            <!-- <h1 class=" logo" style="color: #FF5400; font-size: 70px;">PIZZA.AE</h1> -->
        </a>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="me-4 text-center mb-2">
              <a href="{% url 'website:order_cart' %}" 
                 class="btn px-4 fw-bold px-4 header-font rounded-0" 
                 style="background-color: #FF5400; color: white;">In Cart | <span id="in_cart_header"></span> </a>
          </li>
          <li class="me-4 text-center">
            {% if sessioned %}
            <a href="{% url 'website:signout' %}" class="btn px-4 fw-bold btn-success rounded-0 header-font" style="background-color: #219653;">Sign out</a>
            {% else %}
            <a href="{% url 'website:customer_login' %}" class="btn px-4 fw-bold btn-success rounded-0 header-font" style="background-color: #219653;">Sign In</a>
            {% endif %}
          </li>
          <!-- <li class="me-4 text-center">
              <a href="{% url 'website:customer_sign_up' %}" class="btn px-4 fw-bold btn-success rounded-0 header-font" style="background-color: #219653;">Sign Up</a>
          </li> -->
        </ul>
      </div>
    </div>
</nav>