{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>

#map{
  height:400px;
}

</style>
{% endblock css %}
{% block content %}
<div class="container" style="background-color: seashell;">
  <div class="row">
    <div class="col sm-12">
      <h2>Location</h2>

      <div id="map"></div>

    </div>

    <hr>
    <div class="col-sm-12 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <p>{{otp_com}}</p>
      <p>otp:{{otp.otp}} - number: {{otp.number}} - date:{{otp.date}}</p>
    </div>
    <div class="col-sm-12 col-md-3"></div>
  </div>
</div>

{% endblock content %}
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEvv_TaJsCDx2sWSwrgP1fEjCV7SA9gdE&callback=initMap">
</script>
<script>

let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 25.156627208000344, lng: 55.204545339122625 },
    zoom: 14,
  });
}


</script>
{% endblock js %}

