{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>


</style>
{% endblock css %}
{% block content %}
<div class="container-fluid" style="background-color: seashell;">
<div class="row">
  <div class="col-sm-12 col-md-3"></div>
  <div class="col-sm-12 col-md-6">
    <h2 class="mx-auto mt-2">Payment Methods:</h2>
    <div class="row">
      <div class="col-sm-12">
       
        <div class="card rounded-0 my-2 py-3 px-2 text" id="cash">
          <h6 class="p-0 my-auto">  &nbsp;
            <span class="iconify" data-icon="fa-solid:money-bill-wave"></span>    &nbsp; &nbsp;&nbsp;Cash on Delivery
          </h6 >
        </div> 
        
        <div class="card rounded-0 my-2 py-3 px-2 text" id="card">
          <h6 class="p-0 my-auto">  &nbsp;
            <span class="iconify" data-icon="fontisto:shopping-pos-machine" data-rotate="90deg"></span>  &nbsp;  &nbsp;Card on Delivery
          </h6 >
        </div> 

        <!-- uncomment this part -->
        <!-- <div class="card rounded-0  my-2 py-3 px-2 text" id="online">
          <h6 class="p-0 my-auto"> 
            <span class="iconify" data-icon="logos:visaelectron"></span> 
            <span class="iconify" data-icon="logos:mastercard"></span> 
            &nbsp;Online Payment
          </h6 >
        </div>  -->
        <div class="" id="pay_here">  </div>
        <div class="row mx-1 my-2">
          <button type="submit" id="pay"  class="my-1 btn btn-success title-fonts rounded-0 btn-lg btn-block">Pay</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3"></div>
</div>
</div>
</div>

{% endblock content %}
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  
  $(document).ready(function(){
    $('#cash').click(function(){
     $('#cash').toggleClass('bg-success')
     $('#online').removeClass('bg-success')
     $('#card').removeClass('bg-success')
     localStorage.setItem('pay_method', 'cash')

    })
  })
  
  $(document).ready(function(){
    $('#card').click(function(){
      $('#card').toggleClass('bg-success')
      $('#cash').removeClass('bg-success')
     $('#online').removeClass('bg-success')
     localStorage.setItem('pay_method', 'card')
    })
  })
  
//  set payment method defualt cash
$(document).ready(function(){
  $('#cash').addClass('bg-success')
  localStorage.setItem('pay_method', 'cash')
});


load_order()
function load_order(){
  // load the orders into table
  $(document).ready(function(){
    // check if their is an order key in localstorage
    if(localStorage.getItem("order")){
      $("#empty-card").hide();
      // split the orders string to array by ;
      let order_arr = localStorage.getItem("order").split(";");
      let total_order = 0, vat, delivery =0, total_of_total
      let orders = ``;
      for(let x in order_arr){
        let ord = JSON.parse(order_arr[x]);
        total_order = total_order + (parseFloat(ord.quantity) * parseFloat(ord.price))
        orders += ` 
        <div class="card rounded-0 my-1 py-1">
          <p class="my-2 mx-2">
          <span class="rounded-0 py-1 px-2 my-auto mx-1" style="border: 1px solid #FF5400;">${ord.quantity}</span>
          x 
          <b class="px-2">${ord.name}</b>
          <span class="active" style="float: right;">${parseFloat(ord.quantity) * parseFloat(ord.price)} <span class="text-dark">AED</span> </span> 
          </p>
        </div> `;  
      }
      vat = (total_order * 5) /100;
      var prices = `
      <div class="card py-1 px-1 rounded-0">
          <P class="m-0"> <b class="">ORDER:</b>     <b style="float: right;">${total_order} AED</b></P>
          <P class="m-0"> <b class="">VAT 5%:</b>    <span style="float: right;" class="text-secondary">${vat} AED</span></P>
          <P class="m-0"> <b class="">DELIVERY:</b>  <span style="float: right;" class="text-secondary">15.00 AED</span></P>
          <h4 class="mt-4">  <b class="">TOTAL:</b>  <b class="active" style="float: right;">${total_order + vat + delivery} <span class="text-dark">AED</span></b></h4>
        </div>
      `;

        var address = `
        <div class="card rounded-0 py-1 px-1">
          <p class="m-0"><b class="m-0">Address:</b>  ${localStorage.getItem('address')} </p>
          <p class="m-0"><b class="m-0">Additional Direction:</b>${localStorage.getItem('address_details')}</p>
          <p class="m-0"><b class="m-0">Mobile:</b> +971 ${localStorage.getItem('number')}</p>
        </div>  
        `;
      $("#orders").append(orders);
      $("#prices").append(prices);
      $("#address").append(address);

    }else{
      // $('.table-responsive').hide();
      // $("#empty-card").show();
      // $("#regform_row").addClass('d-none');
    }
  });
}

// get all info from order, location, address, pbone, lat, lng, delivery charge from localstorage
// and send it to dash
// process order
$(document).ready(function(){
  $('#pay').click(function(){
    data = {};
    data['name'] = localStorage.getItem('full_name');
    data['number'] = localStorage.getItem('number')
    data['address'] = localStorage.getItem('address_details') + ", " + localStorage.getItem('address')
    data['area']    = localStorage.getItem('delivery_id')
    var location =  localStorage.getItem('lat') + "," +localStorage.getItem('lng')
    data['location'] = location;
    data['sms'] = true
    data['payment'] = localStorage.getItem('pay_method');
    data['order'] = localStorage.getItem('order');
    $.ajax({
      url: "{% url 'website:cart_view' %}",
      method: 'POST',
      data : data,
      success:function(response){
        localStorage.clear();
        let timerInterval
        Swal.fire({
          title: 'THANK YOU',
          html: 'Thank for ordering with us.',
          timer: 5000,
          // timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
              b.textContent = Swal.getTimerLeft()
            }, 100)
          },
          willClose: () => {
            clearInterval(timerInterval)
          }
        }).then((result) => {
          /* Read more about handling dismissals below */
          window.location = "/confirmed/"+response+"";
          if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
          }
        })
        // window.location.reload();
      }
    })
  });
});


$(document).ready(function(){
// $('#pay_here').hide()
  $("#online").click(function(){
    $('#online').toggleClass('bg-success')
    $('#cash').removeClass('bg-success')
    $('#card').removeClass('bg-success')
    localStorage.setItem('pay_method', 'online')

    data = {};
    data['name'] = localStorage.getItem('full_name');
    data['number'] = localStorage.getItem('number')
    data['address'] = localStorage.getItem('address_details') + ", " + localStorage.getItem('address')
    data['area']    = localStorage.getItem('delivery_id')
    var location =  localStorage.getItem('lat') + "," +localStorage.getItem('lng')
    data['location'] = location;
    data['payment'] = localStorage.getItem('pay_method');
    data['order'] = localStorage.getItem('order');
    $.ajax({
      url: "{% url 'website:cart_view' %}",
      method: 'POST',
      data : data,
      success:function(response){
        if(typeof parseInt(response) == 'number'){
          order_id = parseInt(response)
          console.log(order_id + " this is the pk")
          $.ajax({
            url :'{% url "website:access_token" %}',
            method:'GET',
            data: {id:order_id},
            success:function(res){
            // createFrame(res);
              window.location.href = res
            },
          }) // endof ajax
          // localStorage.setItem("order_ref" , order_id)
        }else{
          console.log("not true the condidtion")
        }
      }
    })

    // order_pk = localStorage.getItem("order_ref")

    // console.log(" this is order id: " + order_pk)
    // console.log(order_pk+1 + " has been created\nNow preceeding with the payment...")
    
  }) // end of ajax
});

</script>
{% endblock js %}

