{% extends 'website/base.html' %}
{% load static %}

{% block css %}
<style>


</style>
{% endblock css %}
{% block content %}
<div class="container-fluid" style="background-color: seashell;">
<div class="row">
  <div class="col-sm-12 col-md-3"></div>
  <div class="col-sm-12 col-md-6">
    <div class="row mt-3">
      <div class="col-sm-12 text-center mx-auto my-4">
        <h2 class="mx-auto">Enter your OTP</h2>
        <img src="{% static 'img/otp.png' %}" alt="">
        <h3 class="center"> OTP Verification</h3>
        <p class="body-text">Enter the OTP sent to <b>+971 {{number}}</b></p>
        {% if error %}
        <b class="text-danger">Invalid OTP, Please Try again!</b>
        {% endif %}
        <div class="container">  
          <form id="OTP" method="POST"> {% csrf_token %}
            <input type="hidden" name="number" id="number" value="{{number}}">
            <div class="row d-flex justify-content-center mb-2">
              <div class="mb-6 text-center">
                <div class="row">
                  <div class="col-sm-4 col-md-3"></div>
                  <div class="col-sm-12 col-md-6">
                    <input type="hidden" name="otp" value="{{otp.pk}}">
                    <input name="otp_validation" type="hidden">
                    <div id="otp" class="d-flex">
                      <input class="m-3 rounded-0 text-center" style="border-width: 1px;" name="first"  type="tel" id="first"  maxlength="1" />
                      <input class="m-3 rounded-0 text-center" style="border-width: 1px;" name="second" type="tel" id="second" maxlength="1" />
                      <input class="m-3 rounded-0 text-center" style="border-width: 1px;" name="third"  type="tel" id="third"  maxlength="1" />
                      <input class="m-3 rounded-0 text-center" style="border-width: 1px;" name="fourth" type="tel" id="fourth" maxlength="1" />
                    </div>                    
                  </div>
                  <div class="col-sm-4 col-md-3"></div>
                </div>
              </div>
            </div>
            <p class="mt-2 pt-2">Didn't recieve the code? 
              <span id="resend"></span>
            </p>
            <div class="row">
              <div class="col-sm-12 col-md-6 mx-auto">
                <div class="row">
                  <button type="submit" class="btn btn-success title-fonts rounded-0 btn-lg btn-block">Verify Me</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3"></div>
</div>
</div>
</div>

{% endblock content %}
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

  $(document).ready(function(){
    var num = $('#number').val();
    localStorage.setItem('number', num);
  });

$(document).ready(function(){
  count()
})
function count(){
  var seconds = 60;
  var el = document.getElementById('resend');
function incrementSeconds() {
  seconds -= 1;
  if (seconds < 1){
    el.innerHTML = '<a href="javascript:resend()" class="text-decoration-none"><b class="active">Resend OTP</b></a>'
  }else{
    el.innerText = "resend in " + seconds;
  }
}
var cancel = setInterval(incrementSeconds, 1000);
}

function resend(myMessage) {
  var num = $('#number').val();
  $.ajax({
    url: '{% url "website:resend_otp" %}',
    method: 'get',
    data:{number:num},
    success:function(res){
      $('input[name="otp"]').val(res)
      alert(res)
      count();
    },
  })
}

function OTPInput() {
  const inputs = document.querySelectorAll('#otp > *[id]');
  for (let i = 0; i < inputs.length; i++) {
    inputs[i].addEventListener('keydown', function(event) {
      if (event.key === "Backspace") {
        inputs[i].value = '';
        if (i !== 0)
          inputs[i - 1].focus();
      } else {
        if (i === inputs.length - 1 && inputs[i].value !== '') {
          return true;
        } else if (event.keyCode > 47 && event.keyCode < 58) {
          inputs[i].value = event.key;
          if (i !== inputs.length - 1)
            inputs[i + 1].focus();
            event.preventDefault();
        } else if (event.keyCode > 64 && event.keyCode < 91) {
          inputs[i].value = String.fromCharCode(event.keyCode);
          if (i !== inputs.length - 1)
            inputs[i + 1].focus();
          event.preventDefault();
        }
      }
    });
  }
}
OTPInput();
</script>
{% endblock js %}

