{% extends 'website/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col -sm-12 col md-3"></div>
    <div class="col-sm-12 col-md-6">
      {% if order.status != 'finished' or order.status != 'ordered' or order.status != 'Processing' %}
      <h2 class="my-3"><span class="iconify" data-icon="ant-design:check-square-filled" style="color: #5cb85c;"></span> Order is Confirmed</h2>
      <div class="card rounded-0 p-2 pb-0">
        <span class="d-none" id="destination">{{order.location}}</span>
        <p class="m-0"><b>Your order has been placed!</b></p>
        <p class="m-0 text-secondary">We will call you once the order arrive.</p>
        <p class="text-secondary"> Your Approximate time of delivery is <span id="duration"></span></p>
      </div>
      <div class="container py-3">
        <img src="{% static 'img/order_complete.png' %}" style="width: 100%; height: 100%;" alt="">
      </div>
      <div class="row my-3 mx-2 mt-4">
        <a href="{% url 'website:menu' %}" class="btn btn-orange title-fonts rounded-0 btn-lg btn-block">Menu</a>
      </div>
      {% else %}
      <h2  class="text-center"> Nothign to Show</h2>
      <img class="mx-auto d-block" src="{% static 'img/nothing.webp' %}" alt="">
      <div class="row my-3 mx-2 mt-4">
        <a href="{% url 'website:menu' %}" class="btn btn-orange title-fonts rounded-0 btn-lg btn-block">Menu</a>
      </div>

      {% endif %}
      
    </div>
    <div class="col -sm-12 col md-3"></div>

  </div>
</div>

</div>

{% endblock content %}


{% block js %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEvv_TaJsCDx2sWSwrgP1fEjCV7SA9gdE&callback=calculateDistance&libraries=places">
</script>

<script>
  let dis , lo
  $(document).ready(function(){
    dis = $('#destination').text(); 
    lo = dis.split(',')
    calculateDistance()
  });
function calculateDistance(){
  var origin1 = new google.maps.LatLng(25.156627208000344,55.204545339122625 );
  var destinationB = new google.maps.LatLng(parseFloat(lo[0]),parseFloat(lo[1]));

  var service = new google.maps.DistanceMatrixService();
service.getDistanceMatrix(
  {
    origins: [origin1,],
    destinations: [destinationB,],
    travelMode: 'DRIVING',
    avoidHighways: false,
    avoidTolls: false,
  }, callback);


  function callback(response, status) {
  if (status == 'OK') {
    var origins = response.originAddresses;
    var destinations = response.destinationAddresses;

    for (var i = 0; i < origins.length; i++) {
      var results = response.rows[i].elements;
      for (var j = 0; j < results.length; j++) {
        var element = results[j];
        var distance = element.distance.text;
        var duration = element.duration.text;
        $('#duration').text(duration)
        var from = origins[i];
        var to = destinations[j];
      }
    }
  }
}

}
</script>

{% endblock js %}

