@font-face {
    font-family: "provicali";
    src: url("../fonts/Provicali.otf") format("opentype");
}

/* this is provicali but it is bold and is not good */
/* p{
    font-family: "provicali";
} */


.riv{
    height: 100vh;
    background-color: gainsboro;
}

.red{
    height: 100vh;
    float: right;
    background-color: orangered;
    width: 30vw;
}