{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
<!-- leaflet css file -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<style>
    /* Set the size of the div element that contains the map */
#map {
  height: 70vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

</style>

{% endblock css %}


{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> Dashboard <small> coverage area</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"> Area</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container">
          <!-- Small boxes (Stat box) -->
          <div class="card card-orange card-outline">
            <div class="card-header">
              <h3 class="card-title d-none d-lg-inline" onclick="text(2)" > <i class="fas fa-edit"></i>  Coverage Areas</h3>
              {% if perms.dashboard.add_area %}
              <a href="{% url 'dashboard:add_area'%}" class="btn bg-orange float-right pt-0 pb-0 mr-2"> Add Area</a>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="row">
                <!-- <h2>PIZZA.AE location</h2> -->
                
                  <div id="map"></div>
                 <div class="row">
                   <div class="col mt-3">
                     <div id="listOfArea">
                        
                     </div>
                   </div>
                 </div>
                </div>
            </div>
          </div>
        </div><!-- /.container -->

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form action="" id="areaname">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>are your sure you want to delete? </p>
                  
                </div>
                <div class="modal-footer">
                  <button type="reset" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="submit" class="btn btn-primary">YES, Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.content -->



{% endblock content %}


{% block js %}

<!-- leaflet js file -->

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">

 <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
 <script>

 const apiKey = "pk.eyJ1IjoiemFtYW5laHNhbmkiLCJhIjoiY2tzMngweHBoMDR6bDJwbGxwemdtcWdlYyJ9.In0ho8b2jje9pF86SKSUVA"
//  googlemapapikeey="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgHueCAXFtslQE1riwlgiwZsbxglhOB04&callback=initMap&libraries=&v=weekly";\

// load the mapbox map loader
var mymap = L.map('map').setView([25.1564378,55.2023781], 12);

// add map 
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: apiKey
}).addTo(mymap);

// make the pizza marker shop
const pizzaShop = L.marker([25.156442505771384, 55.20456662639172]).addTo(mymap);
pizzCard = `
  <div style="padding:0px; margin:0px;"> 
    <img src="../../static/img/pizzashop.jpg" style="width:100%;margin:0px;">
    <span>We have the best pizza in Dubai.</span>
    <a href="https:pizza.ae">Order here</a>
  </div>
`;

pizzaShop.bindPopup(pizzCard);
// pizzaShop.openPopup();

$(document).ready(function(){
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
 
    var demo = document.getElementById("demo");
    var listOfArea = document.getElementById("listOfArea");
    // do the calculation
    const object = JSON.parse(this.responseText);
    
    for(var key in object){
      if(object.hasOwnProperty(key)){
        var obj = object[key];
        // loop through object of json
        var geojson_data = JSON.parse(obj.geojson);
        // adding to the map
        var popup_context = `Area: ${obj.name}. <br> minumam order: ${obj.min_order} AED. <br> Delivery charge: ${obj.charge} AED.`;

        L.geoJSON(geojson_data, {
          style:function(){
             return {color:obj.color};
          }
        }).bindPopup(popup_context).addTo(mymap);

        // create belete btn
        var del_btn = document.createElement("p");
          del_btn.classList.add('btn');
          del_btn.classList.add('btn-danger');
          del_btn.classList.add('mr-2');
          del_btn.classList.add('deletebtn');
        var data_url = document.createAttribute('data-url');
          data_url.value = obj.url;
          del_btn.setAttributeNode(data_url);
        var text = document.createTextNode("Delete "+ obj.name);

        del_btn.appendChild(text);

        var ele = document.getElementById('listOfArea');
        ele.appendChild(del_btn);

        // add eventlister to btn
        del_btn.addEventListener("click", show);
        
      }else{
        demo.append("doen not");
      } 
    }
  }
  xhttp.open("GET", "../api/areas");
  xhttp.send();
});

// show delete model
function show(){
  $(".deletebtn").each(function(){
    $(this).click(function(){
      var url = $(this).attr('data-url');
      $('#areaname').attr('action', url);
      $('#deleteModal').modal('show');
    });
  });
}


// sending the delete request
$('#areaname').submit(function(e){
  e.preventDefault();
  var formaction = $(this).attr('action');
  $.ajax({
    url:formaction,
    type:'DELETE',
    success:function(respnse){
      console.log(respnse);
    }
  });
});

</script>

{% endblock js %}