{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
<!-- leaflet css file -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js"></script>

<style>
    /* Set the size of the div element that contains the map */
#map {
  height: 70vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

p {
font-family: 'Open Sans';
margin: 0;
font-size: 13px;
}

</style>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">

{% endblock css %}


{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> Dashboard <small>Add coverage area</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"> Add Area</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container">
          <div class="card shadow-none card-outline">
            <div class="card-header">
              <h4 class="card-title d-none d-lg-inline">Add an area with clicking on the map area. Double-click to finished your area.</h4>
            </div>
            <div class="card-body ">
              <div class="row">
                <!-- <h2>PIZZA.AE location</h2> -->
                
                  <div id="map"></div>

                    <form method="POST" class="mt-2"> {% csrf_token %}
                      <input type="hidden" name="geojson" id="geojson">
                      <div class="row mx-auto mb-2">
                        <div class="col-12 col-md-6 col-lg-3 py-1">
                            <input class="form-control" required placeholder="name of area" type="text" name="name">
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 py-1">
                            <input class="form-control" required placeholder="minimum order" type="number" name="min_order">    
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 py-1">
                            <input class="form-control" required placeholder="delivery charge" type="number" name="charge">
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 py-1">
                            <input class="form-control" required placeholder="color of area" type="text" name="color">                     
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 py-1">
                            <input type="submit" class="btn btn-primary form-control" value="Add">                        
                        </div>
                      </div>
                    </form>
                 
      
                  <!-- <div class="calculation-box">
                    <p>Click the map to draw a polygon.</p>
                    <div id="calculated-area"></div>
                    </div> -->
      
                </div>
            </div>
          </div>
          <!-- Small boxes (Stat box) -->
        
        </div><!-- /.container -->
      </div>
      <!-- /.content -->



{% endblock content %}


{% block js %}

<!-- leaflet js file -->

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">

 <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
 <script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiemFtYW5laHNhbmkiLCJhIjoiY2tzMngweHBoMDR6bDJwbGxwemdtcWdlYyJ9.In0ho8b2jje9pF86SKSUVA';
  const map = new mapboxgl.Map({
      container: 'map', // container ID
      // style: 'mapbox://styles/mapbox/satellite-v9', 
      style:"mapbox://styles/mapbox/streets-v11",
      center: [55.2023781,25.1564378], // starting position [lng, lat]
      zoom: 12 
    });
 
  const draw = new MapboxDraw({
    displayControlsDefault: false,
    // Select which mapbox-gl-draw control buttons to add to the map.
    controls: {
      polygon: true,
      trash: true,
    },
    // Set mapbox-gl-draw to draw by default.
    // The user does not have to click the polygon control button first.
    defaultMode: 'draw_polygon'
  });

map.on('load', function(){
  map.addControl(draw);
  map.on('draw.create', updateArea);
  map.on('draw.delete', updateArea);
  map.on('draw.update', updateArea);
});


function updateArea(e) {
  // the data variable is a geojson format
  const data = draw.getAll();

  const answer = document.getElementById('calculated-area');
  const geojson_id = document.getElementById('geojson'); 

  if (data.features.length > 0) {
    // get the geojson of pylogon and set the form
    $('#geojson').val(String(JSON.stringify(data)));

    // below is calculating the area via turf which we do not need
    // const area = turf.area(data);
    // Restrict the area to 2 decimal points.
    // const rounded_area = Math.round(area * 100) / 100;
    // here send the geojson format to server via ajax

    // answer.innerHTML = jso;
    
  } else {
    answer.innerHTML = '';
    if (e.type !== 'draw.delete')
    alert('Click the map to draw a polygon.');
  }
}
</script>

{% endblock js %}