{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %} {% endblock css %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Salary</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'dashboard:salary' %}">Salary</a></li>
              <li class="breadcrumb-item active">Remove</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-sm-12 col-lg-6 align-items-center">
                <!-- general form elements -->
                <div class="card card-secondary">
                  <div class="card-header">
                    <h3 class="card-title">Remove employee salary</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form method="POST"> {% csrf_token %}
                    <div class="card-body">
                        <p>Are you sure you want to remove salary of {{object.name|title}} for month the of {{object.month}}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-secondary float-right" href="{% url 'dashboard:salary' %}"> Cancel</a>
                      <button type="submit" class="btn btn-outline-danger float-right mr-2"> Yes, Remove</button>
                      
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content  %}