{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> Dashboard <small> Order</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"> Order</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container">
          <!-- Small boxes (Stat box) -->
          <div class="card card-orange card-outline">
            <div class="card-header">
              <h3 class="card-title d-none d-lg-inline" onclick="text(2)" > <i class="fas fa-edit"></i>  Orders</h3>
              {% if perms.dashboard.add_area %}
              <a href="{% url 'dashboard:dashboard'%}" class="btn bg-orange float-right pt-0 pb-0 mr-2"> Add order</a>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="card new_order_card d-none text-center bg-orange">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-4 order">
                    <p>Id: <span  id="order_id"></span></p>
                    <p >date: <span id="order_date"></span></p>
                    <p > location: <span class="order_location"></span></p>
                    <p >order name: <span class="order_name"></span></p>
                    <p > status <span class="status"></span></p>
                    <p > note: <span class="description"></span></p>
                    <p >menu items: <span class="menu_item"></span></p>
                    <p >deliverer <span class="deliverer"></span></p>
                    <p>number: <span class="number"></span></p>
                    </div>
                    <div class="col-sm-12 col-md-4 border-right border-left border-light">
                      <p>dfg</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <p>this is thrid</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->
      </div>
      <!-- /.content -->

{% endblock content %}

{% block js %}

<script>

// read the new order only
$( document ).ready(function() {
  var origin   = window.location.origin
  $.ajax({
    url: origin+"/api/new-order",
    method:"get",
    success: function(data){
      // show new order card and add data to it. make a new sound as well.
      // this show check every five second for new order.
      $(".new_order_card").removeClass("d-none");
      $("#order_id").text(data[0].id);
      $("#order_date").text(data[0].date);
      $(".order_location").text(data[0].location);
      $(".order_name").text(data[0].name);
      $(".status").text(data[0].status);
      $(".description").text(data[0].description);
      $(".deliverer").text(data[0].deliverer);
      $(".menu_item").text(data[0].menu_items);
      $(".number").text(data[0].number);
    },
  });
});
</script>
{% endblock js %}