{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
  
  p {
    color:#F96302;
  }

  td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 180px;
    max-width: 180px;
    text-align: center;
}

td.quantity,
th.quantity {
    width: 20px;
    max-width: 20px;
    word-break: break-all;
}

td.price,
th.price {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 250px;
    max-width: 250px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

</style>

<script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
{% endblock css %}

{% block content %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"> Dashboard <small> Order</small></h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                  <li class="breadcrumb-item active"> Order</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content" style="padding-bottom: 10px;">
        <div class="container">
          
          <!-- Small boxes (Stat box) -->
          <div class="card card-orange card-outline">
         
            <div class="card-header">
              <h3 class="card-title d-none d-lg-inline" onclick="text(2)" > <i class="fas fa-edit"></i>  Orders</h3>
              {% if perms.dashboard.add_order %}
              <a href="{% url 'dashboard:dashboard'%}" class="btn bg-orange float-right pt-0 pb-0 mr-2"> Add order</a>
              {% endif %}
            </div>

            <!-- orders under process -->
            <div class="card-body" style="background-color: antiquewhite;" id="card-body">
              <p class="text-center text-success fw-bold"> Processing</p>
              <hr class="bg-success " style="height: 3px;">
              {% for order in object_list %}
                {% if order.status == 'accepted' %}
                  <div class="card new_order_card">
                    
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12 col-md-4 order">
                          <p class="">ID:<span class="fw-bold" id="order_id">{{order.id}}</span> </p>
                          <hr>
                          <p class="">NAME: <span class="fw-bold" id="order_name">{{order.name}}</span> </p>
                          <hr>
                          <p class="">NUMBER: <span class="order_number fw-bold">{{order.number}}</span> </p>
                          <hr>
                          <p class="">NOTE:<span class="order_note fw-bold">{{order.description}}</span> </p>
                        </div>
                        <div class="col-sm-12 col-md-4 border-right border-left border-light  my-4">
                          {% for item in order.order_item_list.all %}
                          <p class="fs-5 my-0">{{item.quantity}}
                            <span class="iconify" data-icon="clarity:times-line" style="color: #f96302;" data-width="25" data-height="25"></span>
                            {{item.menu_item.name}} <span class="float-right">{{item.menu_item.price}} AED</span>
                          </p>
                          {% endfor %}
                          <hr>
                          <p class="fs-5">TOTAL BIll 
                            <span class="small text-success ">{{order.payment_method}}</span> 
                            <span class="float-right">{{order.get_totol}} AED </span></p>
                          <hr>
                          <div class="text-center pt-0">
                            <!-- <p class="">ready for delivery.</p> -->
                            <!-- list all deliverer -->
                            <form method="POST" id="deliverer"> {% csrf_token %}
                              <div class="row">
                                <input type="hidden" name="id" value="{{order.pk}}">
                                <div class="col-sm-12 col-md-6">
                                  <select name="deliverer" class="form-select form-select-md mb-3">
                                    <option disabled selected>select deliverer</option>
                                    {% for u in deliveries.user_set.all %}
                                      <option value="{{u.pk}}">{{u.get_full_name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                  <button class="btn btn-info px-5 mx-3 btn-accept" name="finishing" data-id="{{order.id}}" type="submit">Finish</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-4 my-auto">
                          <div class="card" style="box-shadow: none; border-radius: 7px;">
                            <div class="card-header" style="background-color: transparent;">
                              <p class="mb-0 fs-5 fw-bold">ADDRESS</p>
                            </div>
                            <div class="card-body text-center">
                            
                              <p class="address">{{order.address}}</p>
                              <span class="iconify copy_location" data-icon="fluent:document-copy-16-regular"  data-location="{{order.address}}"
                                    style="color: #f96302;" data-width="35" data-height="35"></span>
                              <span class="mx-2"></span>
                              <a href="#!" data-location="{{order.location|default:'unknown'}}" class="copy_location text-decoration-none">
                                <span  class="iconify" data-icon="mdi-light:map-marker" style="color: #f96302;" data-width="38" data-height="38"></span>
                              </a>
                              <span  class="mx-2"></span>
                              <p class="d-none for-whatsapp">
                                new order from {{order.name}}, 
                                phone number: {{order.number}},
                                items:
                                  {% for item in order.order_item_list.all %} 
                                    {{item.quantity}} X {{item.menu_item.name}},
                                  {% endfor %}
                                total: {{order.get_totol}},
                                location: <a href="https://www.google.com/maps/place/{{order.coordinate}}">https://www.google.com/maps/place/{{order.coordinate}}</a>
                              </p>
                              <a href="#!" class="send_to_whatsapp text-decoration-none" data-order="{{order.address}}">
                                <span class="iconify" data-icon="fa-brands:whatsapp-square" style="color: #f96302;" data-width="35" data-height="35"></span>
                              </a>
                              <span  class="mx-2"></span>
                              <!-- onclick prints the ticket div via printjs library -->
                              <a href="#!" onclick="printJS({ printable: '{{order.id}}', type: 'html' })" class=" text-decoration-none" data-order="{{order.address}}">
                                <span class="iconify" data-icon="fluent:print-24-regular" style="color: #f96302;" data-width="35" data-height="35"></span>
                                <!-- <span class="iconify" data-icon="fa-brands:whatsapp-square" ></span> -->
                              </a>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <!-- ticket order -->
                  <div class="ticket d-none" id="{{order.id}}">
                      <!-- <img src="{% static 'img/Pizzalogo.png' %}" alt="Logo"> -->
                      <p class="centered"><strong>PIZZA.AE</strong>
                          <br>Jumeirah 3, Umm Suqaim 2, <br> Dubai, UAE</p>
                      <table class="mx-auto">
                          <thead class="center">
                              <tr>
                                  <th class="quantity">Q</th>
                                  <th class="description">name</th>
                                  <th class="price">$</th>
                              </tr>
                          </thead>
                          <tbody class="text-center">
                            {% for item in order.order_item_list.all %}
                              <tr>
                                <td class="quantity">{{item.quantity}}</td>
                                <td class="description">{{item.menu_item.name}}</td>
                                <td class="price">{{item.menu_item.price}}</td>
                              </tr>
                            {% endfor %}
                              <tr>
                                  <td class="quantity"></td>
                                  <td class="description">TOTAL</td>
                                  <td class="price">{{order.get_totol}}</td>
                              </tr>
                          </tbody>
                      </table>
                      <p class="centered">Thank for your order.
                          <br>www.pizza.ae
                      </p>
                  </div>
                {% endif %}
              {% empty %}
              <div class="card">
                  <p class="text-center text-success my-2">NO ORDER IS BEING PROCESSED</p>                          
              </div>
              {% endfor %}
            </div>

            <!-- new order list -->
            <div class="card-body" style="background-color: antiquewhite;" id="card-body">
              <p class="text-center text-success fw-bold"> New Order</p>
              <hr class="bg-success " style="height: 3px;">

              {% for order in object_list %}
                {% if order.status == 'ordered' and order.status != 'rejected' %}
                <div class="card new_order_card">
                  <!-- play a sound on new order controls is removed to hide -->
                  <audio  autoplay>
                    <source src="{% static 'sound/notification_sound.wav' %}" type="audio/wav">
                    not supporting audio element.
                  </audio>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-4 order">
                        <p class="">ID:<span class="fw-bold" id="order_id">{{order.id}}</span> </p>
                        <hr>
                        <p class="">NAME: <span class="fw-bold" id="order_name">{{order.name}}</span> </p>
                        <hr>
                        <p class="">NUMBER: <span class="order_number fw-bold">{{order.name}}</span> </p>
                        <hr>
                        <p class="">NOTE:<span class="order_note fw-bold">{{order.description}}</span> </p>
                      </div>
                      <div class="col-sm-12 col-md-4 border-right border-left border-light  my-4">
                        {% for item in order.order_item_list.all %}
                        <p class="fs-5 my-0">{{item.quantity}}
                          <span class="iconify" data-icon="clarity:times-line" style="color: #f96302;" data-width="25" data-height="25"></span>
                          {{item.menu_item.name}} <span class="float-right">{{item.menu_item.price}} AED</span>
                        </p>
                        {% endfor %}
                        <hr>
                        <p class="fs-5">TOTAL BIll 
                          <span class="small text-success ">{{order.payment_method}}</span> 
                          <span class="float-right">{{order.get_totol}} AED </span></p>
                        <hr>
                        <div class="text-center">
                          <button class="btn btn-success px-5 mb-2 btn-accept"  data-id="{{order.id}}"  type="button">Accept</button>
                          <button class="btn btn-outline-danger px-5 mb-2 btn-reject" data-id="{{order.id}}" type="button">Reject</button>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-4 my-auto">
                        <div class="card" style="box-shadow: none; border-radius: 7px;">
                          <div class="card-header" style="background-color: transparent;">
                            <p class="mb-0 fs-5 fw-bold">ADDRESS</p>
                          </div>
                          <div class="card-body text-center">
                            <p class="address">{{order.address}}</p>
                            <span class="iconify" data-icon="fluent:document-copy-16-regular" style="color: #f96302;" data-width="35" data-height="35"></span>
                            <span class="mx-2"></span>
                            <span data-location="${json_obj[i].fields.location}" class="iconify" data-icon="mdi-light:map-marker" style="color: #f96302;" data-width="38" data-height="38"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                {% endif %}

              {% empty %}
              <div class="card">
                  <p class="text-center text-success my-2">NO ORDER</p>
              </div>
              {% endfor %}
            </div>
          </div>
          
        </div><!-- /.container -->
      </div>
      <!-- /.content -->


{% endblock content %}

{% block js %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

<script>

// setTimeout(function(){
//    window.location.reload(1);
// }, 10000);

// send order with url and details to whatsapp
$(document).ready(function(){
  $('.send_to_whatsapp').each(function(){
    $(this).click(function(){
      var message = $(this).prev().text();
      console.log(message)
      var url = 'https://api.whatsapp.com/send?&text=' + encodeURIComponent(message);
      window.open(url, '_blank').focus();
    }); // click
  });//end of each
});  



// copy lcoation
$(document).ready(function(){
  $('.copy_location').each(function(){
    $(this).click(function(){
      var loc = $(this).attr('data-location');
     
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(loc);
      const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

    Toast.fire({
      icon: 'success',
      title: 'copied!'
    })

    }); //end click
  }); // end each
});

// for accept
$(document).ready(function(){
  $(".btn-accept").each(function(){
    $(this).click(function(){
      var order_id = $(this).attr('data-id');
      $.ajax({
        url:'{% url "dashboard:accept_order" %}',
        method: 'get',
        data:{id:order_id, st: "accepted"},
        success: function(res){
          // alert(res);
          window.location.reload();
          $(this).parents('.new_order_card').fadeOut();
        }, //endof success
      });//end of ajax
    });
  });
});

$(document).ready(function(){
  $(".btn-reject").each(function(){
    $(this).click(function(){
      var order_id = $(this).attr('data-id');
      
      $.ajax({
        url:'{% url "dashboard:accept_order" %}',
        method: 'get',
        data:{id:order_id, st:"rejected"},
        success: function(res){
          window.location.reload();
          // alert(res);
          // $(this).hide('slow');
        }, //endof success
      });//end of ajax
    });
  });
});

</script>
{% endblock js %}