{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}


{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> Dashboard <small> Order</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"> Order</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container">
          <!-- Small boxes (Stat box) -->
          <div class="card card-orange card-outline">
            <div class="card-header">
              <h3 class="card-title d-none d-lg-inline" onclick="text(2)" > <i class="fas fa-edit"></i>  Orders</h3>
              {% if perms.dashboard.add_area %}
              <a href="{% url 'dashboard:dashboard'%}" class="btn bg-orange float-right pt-0 pb-0 mr-2"> Add order</a>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="card text-center">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <p>self deelivery</p>
                      <p>ID: 124325324</p>
                      <p>name of order</p>
                      <p>subtitle: number of order</p>
                      <p>phone number</p>
                      <p>status of order: order, procesing...</p>
                    </div>
                    <div class="col-sm-12 col-md-4 border-right border-left border-secondary">
                      <p>this is second</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <p>this is thrid</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!-- /.container -->

      </div>
      <!-- /.content -->



{% endblock content %}


{% block js %}

{% endblock js %}