{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
{% endblock css %}


{% block content %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> Users <small></small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"> Users</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container">
          <!-- Small boxes (Stat box) -->
         
          <div class="row">
            {% for user in object_list %}
            <div class="col-lg-3 col-6">
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="{{user.profile.photo.url}}"
                         alt="User profile picture">
                  </div>
  
                  <h3 class="profile-username text-center m-0">{{user.get_full_name|default:"name here"|title}}</h3>
                  <p class="text-muted text-center m-0">[{{user.username}}]</p>
                  <p class="text-muted text-center m-0">{{user.email|default:"email here"|title}}</p>
                  <p class="text-muted text-center">{{user.profile.phone|default:"phone here"|title}}</p>  
                  {% if user.is_superuser %}
                  <a href="" id="setting" class="btn btn-success btn-block"><b>Admin</b></a>
                  {% else %}
                  <a href="" id="setting" class="btn btn-primary btn-block"><b>{{ user.groups.all.0 }}</b></a>
                  {% endif %}
                </div>
                <!-- /.card-body -->
              </div>
             
            </div>
            {% endfor %}
          </div>
        
          <!-- /.row -->

          {% comment "this is not necessary" %}
          <!-- <h5 class="mb-2">Shortcuts</h5> -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-shopping-bag"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Order</span>
                  <span class="info-box-number">1,410</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-archive"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Stock</span>
                  <span class="info-box-number">410</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-bars"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Menu</span>
                  <span class="info-box-number">13,648</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-utensils"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Menu Dine-in</span>
                  <span class="info-box-number">93,139</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-truck"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Delivery</span>
                  <span class="info-box-number">1,410</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fa fa-file"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Reports</span>
                  <span class="info-box-number">410</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-money-bill"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Salary</span>
                  <span class="info-box-number">13,648</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-receipt"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Invioce</span>
                  <span class="info-box-number">93,139</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          {% endcomment %}
        </div><!-- /.container-fluid -->

      </div>
      <!-- /.content -->


{% endblock content %}




{% block js %}


{% endblock js %}